In [2]:
import pandas as pd
import numpy as np

data=pd.read_csv("listings.csv")

#this is for ydata-profiling to check the beauty report of the dataset
data_df=data.copy()


# check what are given in the dataset 
data.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,27886,"Romantic, stylish B&B houseboat in canal district",97647,Flip,NaN,Centrum-West,52.387610,4.89188,Private room,132.0,3,311,2025-09-07,1.87,1,17,33,0363 974D 4986 7411 88D8
1,28871,Comfortable double room,124245,Edwin,NaN,Centrum-West,52.367750,4.89092,Private room,89.0,2,732,2025-09-07,3.99,2,126,93,0363 607B EA74 0BD8 2F6F
2,29051,Comfortable single / double room,124245,Edwin,NaN,Centrum-Oost,52.365840,4.89111,Private room,61.0,2,849,2025-09-08,4.81,2,95,86,0363 607B EA74 0BD8 2F6F
3,44391,Quiet 2-bedroom Amsterdam city centre apartment,194779,Jan,NaN,Centrum-Oost,52.371680,4.91471,Entire home/apt,NaN,3,42,2022-08-20,0.23,1,0,0,0363 E76E F06A C1DD 172C
4,48373,Cozy family home in Amsterdam South,220434,Vesna & Misha,NaN,Buitenveldert - Zuidas,52.327808,4.87680,Entire home/apt,NaN,3,5,2024-04-28,0.19,1,0,0,0363 4A2B A6AD 0196 F684

In [3]:

# basic info about data
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10480 entries, 0 to 10479
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              10480 non-null  int64
 1   name                            10480 non-null  object
 2   host_id                         10480 non-null  int64
 3   host_name                       10477 non-null  object
 4   neighbourhood_group             0 non-null      float64
 5   neighbourhood                   10480 non-null  object
 6   latitude                        10480 non-null  float64
 7   longitude                       10480 non-null  float64
 8   room_type                       10480 non-null  object
 9   price                           5874 non-null   float64
 10  minimum_nights                  10480 non-null  int64
 11  number_of_reviews               10480 non-null  int64
 12  last_review                     9383 non-null   object
 13  reviews_per_month               9383 non-null   float64
 14  calculated_host_listings_count  10480 non-null  int64
 15  availability_365                10480 non-null  int64
 16  number_of_reviews_ltm           10480 non-null  int64
 17  license                         10361 non-null  object
dtypes: float64(5), int64(7), object(6)
memory usage: 1.4+ MB

In [4]:

# basic stats about data
data.describe()

,id,host_id,neighbourhood_group,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm
count,1.048000e+04,1.048000e+04,0.0,10480.000000,10480.000000,5874.000000,10480.000000,10480.000000,9383.000000,10480.000000,10480.000000,10480.000000
mean,5.925464e+17,1.345019e+08,NaN,52.366679,4.889447,336.785155,4.390267,47.813359,0.998668,1.844084,93.999809,8.588073
std,5.620675e+17,1.804359e+08,NaN,0.017246,0.034821,1985.661882,19.807350,131.507440,2.306143,3.159096,122.276158,25.195305
min,2.788600e+04,1.662000e+03,NaN,52.290276,4.755870,35.000000,1.000000,0.000000,0.010000,1.000000,0.000000,0.000000
25%,2.629373e+07,1.277781e+07,NaN,52.355694,4.864618,161.000000,2.000000,3.000000,0.200000,1.000000,0.000000,0.000000
50%,6.893474e+17,4.547843e+07,NaN,52.365690,4.887516,222.000000,3.000000,10.000000,0.410000,1.000000,20.000000,2.000000
75%,1.119610e+18,1.877196e+08,NaN,52.376510,4.908675,314.000000,4.000000,30.000000,0.910000,1.000000,173.000000,6.000000
max,1.506287e+18,7.173470e+08,NaN,52.425120,5.028150,80018.000000,1001.000000,5097.000000,99.420000,35.000000,365.000000,949.000000

In [5]:
# find the rows and columns of data
data.shape

(10480, 18)

In [6]:
# find the columns names of data
data.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365', 'number_of_reviews_ltm', 'license'],
      dtype='object')

In [7]:
data.dtypes.value_counts()

int64      7
object     6
float64    5
Name: count, dtype: int64

In [8]:
data.drop(columns=['neighbourhood_group'], inplace=True)

In [9]:
# checking missing values


missing = data.isnull().sum()


missing_pct = (missing / len(data)) * 100


missing_df = pd.DataFrame({
    'Column': missing.index,
    'Missing_Count': missing.values,
    'Missing_Percentage': missing_pct.values
})



missing_df = missing_df[missing_df['Missing_Count'] > 0].sort_values('Missing_Count', ascending=False)
print(missing_df)

               Column  Missing_Count  Missing_Percentage
8               price           4606           43.950382
11        last_review           1097           10.467557
12  reviews_per_month           1097           10.467557
16            license            119            1.135496
3           host_name              3            0.028626

In [10]:
data['price'] = data.groupby('room_type')['price'].transform(
    lambda x: x.fillna(x.median())
)

In [11]:
data['reviews_per_month'].fillna(0, inplace=True)

C:\Users\sagar\AppData\Local\Temp\ipykernel_18356\1702348213.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['reviews_per_month'].fillna(0, inplace=True)

In [12]:
data['last_review'] = pd.to_datetime(data['last_review'], errors='coerce')

data['last_review'].fillna(data['last_review'].mode()[0], inplace=True)

C:\Users\sagar\AppData\Local\Temp\ipykernel_18356\3031362875.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['last_review'].fillna(data['last_review'].mode()[0], inplace=True)

In [13]:
data['license'].fillna('Unknown', inplace=True)

C:\Users\sagar\AppData\Local\Temp\ipykernel_18356\669984694.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['license'].fillna('Unknown', inplace=True)

In [14]:
data['host_name'].fillna('Unknown', inplace=True)

C:\Users\sagar\AppData\Local\Temp\ipykernel_18356\1391387636.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['host_name'].fillna('Unknown', inplace=True)

In [15]:
# checking missing values


missing = data.isnull().sum()


missing_pct = (missing / len(data)) * 100


missing_df = pd.DataFrame({
    'Column': missing.index,
    'Missing_Count': missing.values,
    'Missing_Percentage': missing_pct.values
})



missing_df = missing_df[missing_df['Missing_Count'] > 0].sort_values('Missing_Count', ascending=False)
print(missing_df)

Empty DataFrame
Columns: [Column, Missing_Count, Missing_Percentage]
Index: []

In [18]:
import matplotlib.pyplot as plt
import numpy as np

# Calculate missing values
missing_data = pd.DataFrame({
    'Column': data_df.columns,
    'Missing_Count': data_df.isnull().sum(),
    'Missing_Percentage': (data_df.isnull().sum() / len(data_df)) * 100
})

# Sort by missing percentage (descending)
missing_data = missing_data.sort_values('Missing_Percentage', ascending=False)

# Filter only columns with missing values
missing_data_filtered = missing_data[missing_data['Missing_Count'] > 0]

# Print summary
print("\n" + "="*60)
print("MISSING VALUES SUMMARY")
print("="*60)
print(f"\nTotal Rows: {len(data_df)}")
print(f"Total Columns: {len(data_df.columns)}")
print(f"Columns with Missing Values: {len(missing_data_filtered)}")
print("\nTop Missing Values:")
print(missing_data_filtered.head(10).to_string(index=False))

# Create visualization
if len(missing_data_filtered) > 0:
    fig, (ax1, ax2) = plt.subplots(1, 2, figsize=(16, max(6, len(missing_data_filtered) * 0.4)))
    
    # Left plot: Bar chart
    colors = ['#e74c3c' if x > 50 else '#f39c12' if x > 20 else '#3498db' 
              for x in missing_data_filtered['Missing_Percentage']]
    
    bars = ax1.barh(missing_data_filtered['Column'], 
                     missing_data_filtered['Missing_Percentage'],
                     color=colors, edgecolor='black', linewidth=1.2)
    
    ax1.set_xlabel('Missing Percentage (%)', fontsize=12, fontweight='bold')
    ax1.set_ylabel('Columns', fontsize=12, fontweight='bold')
    ax1.set_title('Missing Values by Column', fontsize=14, fontweight='bold', pad=20)
    ax1.grid(axis='x', alpha=0.3, linestyle='--')
    ax1.set_xlim(0, 100)
    
    # Add percentage labels on bars
    for i, (bar, pct) in enumerate(zip(bars, missing_data_filtered['Missing_Percentage'])):
        width = bar.get_width()
        ax1.text(width + 1, bar.get_y() + bar.get_height()/2, 
                f'{pct:.2f}%', 
                ha='left', va='center', fontsize=9, fontweight='bold')
    
    # Right plot: Table
    ax2.axis('off')
    
    table_data = []
    for idx, row in missing_data_filtered.head(15).iterrows():
        table_data.append([
            row['Column'],
            f"{int(row['Missing_Count'])}",
            f"{row['Missing_Percentage']:.2f}%"
        ])
    
    table = ax2.table(
        cellText=table_data,
        colLabels=['Column Name', 'Missing Count', 'Missing %'],
        cellLoc='left',
        loc='center',
        bbox=[0, 0, 1, 1]
    )
    
    table.auto_set_font_size(False)
    table.set_fontsize(10)
    table.scale(1, 2)
    
    # Style header
    for i in range(3):
        table[(0, i)].set_facecolor('#e74c3c')
        table[(0, i)].set_text_props(weight='bold', color='white')
    
    # Style rows with color coding
    for i in range(1, len(table_data) + 1):
        pct = float(table_data[i-1][2].strip('%'))
        if pct > 50:
            color = '#ffcccc'
        elif pct > 20:
            color = '#ffe6cc'
        else:
            color = '#cce6ff'
        
        for j in range(3):
            table[(i, j)].set_facecolor(color)
    
    ax2.set_title('Top Missing Values', fontsize=14, fontweight='bold', pad=20)
    
    # Main title
    fig.suptitle(f'Missing Values Analysis - {len(missing_data_filtered)} Columns Affected', 
                 fontsize=16, fontweight='bold', y=0.98)
    
    plt.tight_layout()
    plt.savefig('missing_values_analysis.png', dpi=300, bbox_inches='tight', facecolor='white')
    print("\n✓ PNG saved as 'missing_values_analysis.png'")
    
else:
    # No missing values - create a success message
    fig, ax = plt.subplots(figsize=(10, 6))
    ax.axis('off')
    
    plt.text(0.5, 0.5, '✓ NO MISSING VALUES FOUND!', 
             ha='center', va='center', fontsize=24, fontweight='bold',
             color='#27ae60', transform=ax.transAxes)
    
    plt.text(0.5, 0.3, f'All {len(df.columns)} columns are complete', 
             ha='center', va='center', fontsize=14,
             color='#555', transform=ax.transAxes)
    
    plt.savefig('missing_values_analysis.png', dpi=300, bbox_inches='tight', facecolor='white')
    print("\n✓ PNG saved as 'missing_values_analysis.png'")
    print("✓ No missing values detected!")

plt.close()

============================================================
MISSING VALUES SUMMARY
============================================================

Total Rows: 10480
Total Columns: 18
Columns with Missing Values: 6

Top Missing Values:
             Column  Missing_Count  Missing_Percentage
neighbourhood_group          10480          100.000000
              price           4606           43.950382
  reviews_per_month           1097           10.467557
        last_review           1097           10.467557
            license            119            1.135496
          host_name              3            0.028626

✓ PNG saved as 'missing_values_analysis.png'

In [19]:
import matplotlib.patches as mpatches
# Get column names
columns = data_df.columns.tolist()
num_columns = len(columns)

# Create figure
fig, ax = plt.subplots(figsize=(12, max(8, num_columns * 0.4)))
ax.axis('off')

# Title
plt.text(0.5, 0.95, f'Dataset Columns ({num_columns} total)', 
         ha='center', va='top', fontsize=18, fontweight='bold',
         transform=ax.transAxes)

# Create a nice list layout
y_start = 0.88
y_step = 0.85 / num_columns

for idx, col in enumerate(columns):
    y_pos = y_start - (idx * y_step)
    
    # Box background
    rect = mpatches.FancyBboxPatch(
        (0.05, y_pos - 0.015), 0.9, 0.03,
        boxstyle="round,pad=0.01",
        facecolor='#4CAF50' if idx % 2 == 0 else '#66BB6A',
        edgecolor='#2E7D32',
        transform=ax.transAxes,
        linewidth=1.5
    )
    ax.add_patch(rect)
    
    # Column number and name
    plt.text(0.08, y_pos, f"{idx + 1}.", 
             ha='left', va='center', fontsize=11, fontweight='bold',
             color='white', transform=ax.transAxes)
    
    plt.text(0.13, y_pos, col, 
             ha='left', va='center', fontsize=11,
             color='white', transform=ax.transAxes)

# Footer
plt.text(0.5, 0.02, f'Total Features: {num_columns}', 
         ha='center', va='bottom', fontsize=10, style='italic',
         transform=ax.transAxes, color='#555')

plt.tight_layout()
plt.savefig('column_names.png', dpi=300, bbox_inches='tight', facecolor='white')
print(f"✓ PNG saved as 'column_names.png'")
print(f"✓ Found {num_columns} columns")
plt.close()

✓ PNG saved as 'column_names.png'
✓ Found 18 columns

In [20]:
# ----------------------------------
# EXTRACT DATA TYPES
# ----------------------------------
dtype_df = pd.DataFrame({
    "Column Name": data_df.columns,
    "Data Type": data_df.dtypes.astype(str)
})

# Count data types
dtype_counts = dtype_df["Data Type"].value_counts()

# ----------------------------------
# PRINT SUMMARY
# ----------------------------------
print("\n" + "=" * 60)
print("DATA TYPES SUMMARY")
print("=" * 60)
print(dtype_df.to_string(index=False))

# ----------------------------------
# FIGURE SIZE (DYNAMIC)
# ----------------------------------
height = max(10, len(dtype_df) * 0.4)

fig, (ax1, ax2) = plt.subplots(
    1, 2,
    figsize=(22, height),
    gridspec_kw={'width_ratios': [2.5, 1]}
)

# ----------------------------------
# LEFT: TABLE (ALL COLUMNS)
# ----------------------------------
ax1.axis('off')

table_data = dtype_df.values.tolist()

table = ax1.table(
    cellText=table_data,
    colLabels=["Column Name", "Data Type"],
    cellLoc='left',
    loc='center',
    bbox=[0, 0, 1, 1]
)

table.auto_set_font_size(False)
table.set_fontsize(10)
table.scale(1, 1.5)

# Header styling
for col in range(2):
    table[(0, col)].set_facecolor('#34495e')
    table[(0, col)].set_text_props(color='white', weight='bold')

# Row styling
for i in range(1, len(table_data) + 1):
    for j in range(2):
        table[(i, j)].set_facecolor('#ecf0f1')

ax1.set_title(
    "Column-wise Data Types",
    fontsize=14,
    fontweight='bold',
    pad=20
)

# ----------------------------------
# RIGHT: BAR CHART (DTYPE COUNTS)
# ----------------------------------
bars = ax2.bar(
    dtype_counts.index,
    dtype_counts.values,
    edgecolor='black',
    linewidth=1.2
)

ax2.set_title(
    "Data Type Distribution",
    fontsize=14,
    fontweight='bold'
)
ax2.set_xlabel("Data Type", fontsize=12, fontweight='bold')
ax2.set_ylabel("Number of Columns", fontsize=12, fontweight='bold')
ax2.grid(axis='y', linestyle='--', alpha=0.4)

# Add bar labels
for bar in bars:
    ax2.text(
        bar.get_x() + bar.get_width() / 2,
        bar.get_height() + 0.1,
        int(bar.get_height()),
        ha='center',
        va='bottom',
        fontsize=10,
        fontweight='bold'
    )

# ----------------------------------
# FINAL LAYOUT & SAVE
# ----------------------------------
fig.suptitle(
    f"Dataset Data Types Analysis ({len(data_df.columns)} Columns)",
    fontsize=16,
    fontweight='bold',
    y=0.995
)

plt.tight_layout(rect=[0, 0, 1, 0.97])

plt.savefig(
    "data_types_analysis.png",
    dpi=300,
    bbox_inches='tight',
    facecolor='white'
)

print("\n✓ PNG saved as 'data_types_analysis.png'")

plt.close()

============================================================
DATA TYPES SUMMARY
============================================================
                   Column Name Data Type
                            id     int64
                          name    object
                       host_id     int64
                     host_name    object
           neighbourhood_group   float64
                 neighbourhood    object
                      latitude   float64
                     longitude   float64
                     room_type    object
                         price   float64
                minimum_nights     int64
             number_of_reviews     int64
                   last_review    object
             reviews_per_month   float64
calculated_host_listings_count     int64
              availability_365     int64
         number_of_reviews_ltm     int64
                       license    object

✓ PNG saved as 'data_types_analysis.png'